@font-face {
    font-family: 'VT323';
    font-style: normal;
    src: url('../fonts/vt323/VT323-Regular.ttf');
}

@font-face {
    font-family: 'Sahitya';
    font-style: normal;
    src: url('../fonts/sahitya/Sahitya-Regular.ttf');
}

@font-face {
    font-family: 'Sahitya';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/sahitya/Sahitya-Bold.ttf');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    src: url('../fonts/pt_serif/PTSerif-Regular.ttf');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/pt_serif/PTSerif-Bold.ttf');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    src: url('../fonts/pt_serif/PTSerif-Italic.ttf');
}


@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/pt_serif/PTSerif-BoldItalic.ttf');
}


@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inconsolata/Inconsolata-Bold.ttf');
}

body {
    background-color: #1f1922;
    color: #d3ccdc;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'PT Serif', Times, Times New Roman;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    min-width: 500px;
}

.main-wrapper {
    flex: 1;
    /* This is used to make the footer "flush" with the rest of the page */
    min-height: 95.5vh;
}

a {
    color: #a576d4;
    text-decoration: none;
    transition: text-shadow .22s;
}

a:hover {
    text-shadow: 0px 0px 2px #cfccd4;
}

a:visited {
    color: #8f5ac4;
    text-decoration: none;
}

div.header-logo-wrapper {
    text-align: center;
}

a.header-logo img {
    max-width: 100%;
    height: auto;
}

div.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 5px;
    /* font-family: 'VT323', monospace; */
    font-family: 'Inconsolata', monospace;
    max-width: 500px;
    border-radius: 8px;
    border: 3px solid #cacae4;
    background: #2e2b2b;
}

div.navbar-menu a {
    color: #e3ddca;
    text-decoration: none;
    transition: text-shadow .3s;
    text-shadow: 0px 0px 3px #4f4d51;
}

div.navbar-menu a:hover {
    text-shadow: 0px 0px 3px #ffffff;
}

div.content-box {
    box-shadow: 0px 0px 3px #5d667f;
    border-radius: 5px;
    border: 3px dashed #675f68; 
    background: #29242f;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

div.homepage-about {
    margin-left: 30px;
    margin-right: 30px;
}


.bigger-text {
    font-size: 16pt;
}

/* Not super sold on these */

h1 {
    color: #dfd7e9;
    font-size: 1.5em;
    text-align: center;
}

h2 {
    color: #dfd7e9;
    font-size: 1.25em;
    text-align: center;
}

h1.title {
    text-align: left;
}

.footer {
    font-size: 10pt;
    text-align: center;
}

.footer a:hover {
    text-shadow: 0px 0px 1px #a981a9;
}

div.code {
    border-radius: 5px;
    border: 3px solid #110e13;
    background: #110e13;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    white-space: pre;
    font-family: 'Inconsolata', monospace;
}

pre {
    border-radius: 5px;
    border: 3px solid #110e13;
    background: #110e13;
    padding: 20px;
    margin: 20px;
    font-family: 'Inconsolata', monospace;
    overflow: scroll;
}

.blogpost {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogpost .post-about {
    margin-top: -5px;
    font-size: .75em;
    color: #cfccd4;
}

.blogpost .title a {
    color: #ffffff;
}

.news-header {
    border-radius: 5px;
    border: 2px solid #2c2a2c;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background: #2c2a2c;
}

.news-header h3 {
    color: #f2d7f2;
    margin-top: 5px;
    margin-bottom: 3px;
}

.homepage-video-box {
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.homepage-video-box video {
    width: 800px;
    height: 450px;
    padding-bottom: 1em;
}

.homepage-news-items {
    list-style: none;
    padding-left: 2ch;
}

.news-feed-content {
    padding-left: 2ch;
    margin-bottom: 1em;
}

.news-feed-item-date {
    font-style: italic;
}

.news-feed-content p {
    margin-top: .5em;
    margin-bottom: .5em;
}

.consume-more-buttons {
    padding-left: 2ch;
}

video {
    outline: none!important;
}

.post-audio {
    margin-top: .5em;
    width: 100%;
}

hr.pre-follow-us {
    border-top: 1px dashed #3f3f3f;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

hr.pre-learn-more {
    border-top: 1px dashed #726d7a;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.follow-us {
    text-align: center;
}

.family-entry {
    background: #423c4b;
    overflow: hidden;
    box-shadow: 0px 0px 3px #1d202b;
    border-radius: 5px;
    border: 2px solid #28242c;
    margin-bottom: 10px;
}

.family-entry .title-wrap {
    background: #221e2d;
    border-bottom: 2px solid #2b282f;
}

.family-entry h2 {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    text-shadow: 0px 0px 2px #8f8997;
}

.family-entry-bodywrap {
    padding: 10px;
    font-size: 12pt;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

.family-entry-content p:first-child {
    margin-top: 0px;
}

.family-entry-content p:last-child {
    margin-bottom: 0px;
}

.family-portrait-wrap {
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
}

.family-portrait {
    border-radius: 8px;
    box-shadow: 0px 0px 2px #312d37;
}

.learn-more {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
    text-align: right;
}

.site-main-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.gesso-rounded-offwhite {
    background: #fafafa;
    border-radius: 8px;
    padding: 10px;
}
